<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slab.labrecycler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RecyclerActivity"
            android:label="运用/使用recycler">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dragable.DragDropActivity1"
            android:label="运用/原创通用generic adpater"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>

    </application>

</manifest>