<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.hotstu.graphicfun">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Graphic/噪声效果">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PathFunViewActivity"
            android:label="Graphic/PathFun">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PathFunActivity2"
            android:label="Graphic/PathFun2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RazerActivity"
            android:label="Graphic/激光剑"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BezierViewActivity"
            android:label="Graphic/bezier曲线绘制"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RotationActivity"
            android:label="Graphic/Rotation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MatrixFunActivity"
            android:label="Graphic/Matrix测试">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WaterDropActivity"
            android:label="Graphic/Bezier粘连效果">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity android:name=".ParticleTextActivity"
            android:label="Graphic/粒子字体">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>