<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.slab.customviewplayground">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="View/移动与滑动"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewGroupGestrureViewActivity"
            android:label="View/viewgroup手势处理"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ButterKnifeActivity"
            android:label="运用/ButterKnife实践"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerticalTextPaintActivity"
            android:label="View/纵向文字探索">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DynamicViewActivity"
            android:label="View/动态添加view"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DynamicViewGroupActivity"
            android:label="View/动态添加viewGroup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextSpanActivity"
            android:label="View/textSpan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MeasureExploreActivity"
            android:label="View/关于measure测量">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DragActivity1"
            android:label="View/拖拽1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CenterPaddingTextViewActivity"
            android:label="View/CenterTextView with padding left">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity android:name=".Main3Activity"
            android:label="View/TextPath">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>