<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slab.customviewplayground">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="View/移动与滑动"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TouchEventTestActivity"
            android:label="View/bezier曲线绘制"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyScrollViewActivity"
            android:label="View/MyScrollViewActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ButterKnifeActivity"
            android:label="运用/ButterKnife实践"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerticalTextPaintActivity"
            android:label="View/纵向文字探索">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RazerActivity"
            android:label="View/激光剑">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DynamicViewActivity"
            android:label="View/动态添加view"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>